logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.cache-main
/.cache-tests
/RUNNING_PID
/bk
/docker/logs.kamon/*
/bin
/.g8
/docs/draft/*
/docker/volumes/esdata/*
/docker/volumes/log-fluentd/*
/docker/volumes/es-snapshot/*
!.gitkeep
